@import url('nav.css');

html {
    scroll-behavior: smooth;
    font-family: 'Heebo', sans-serif;
}

body {
    margin: 0;
}

.container {
    height: auto;
    padding-bottom: 82vh;
}

#us,
#courses,
#awards,
#contact {
    padding-top: 100px;
}

#home {
    transform: translateY(60px);
}

.mySlides {
    display: none;
    width: 100%;
}

#courses,
#us {
    display: grid;
    grid-template-columns: auto 20vw 20vw 20vw auto;
    grid-template-rows: 50px auto auto;
    gap: 20px;
    grid-template-areas:
        ' . . ti . .'
        'de de de de de'
        '. mi vi va .';
}

#Elementary,
#mision {
    grid-area: mi;
}
#Junior,
#vision {
    grid-area: vi;
}
#Senior,
#values {
    grid-area: va;
}
#descript {
    display: flex;
    grid-area: de;
    background-color: lightblue;
    justify-content: center;
}
h2 {
    grid-area: ti;
}

h2,
h3 {
    text-align: center;
}

#descript > #text {
    width: 600px;
}
#text {
    padding: 25px;
    text-align: center;
}

footer {
    font-family: 'Heebo', sans-serif;
    text-align: center;
    line-height: 50px;
    height: 50px;
    background-color: #006d77;
    color: white;
}

.card {
    background-color: gainsboro;
    border-radius: 25px;
    box-shadow: 5px 10px gray;
}

#awards > img {
    margin: -2px;
    width: 20%;
}
@media screen and (max-width: 1250px) {
    #courses,
    #us {
        grid-template-columns: auto 30vw 30vw 30vw auto;
    }
}
@media screen and (max-width: 700px) {
    #descript > #text {
        width: 100%;
    }
    #courses,
    #us {
        grid-template-columns: auto 90vw auto;
        grid-template-rows: 50px auto repeat(3, auto);
        grid-template-areas:
            '. ti .'
            'de de de'
            '. mi .'
            '. vi .'
            '. va .';
    }
    #awards > img {
        margin: -2px;
        width: 50%;
    }
}
#us,
#courses,
#home {
    border: 1px solid white;
}
